.browsehappy {
  margin: 0.2em 0;
  background: #ccc;
  color: #000;
  padding: 0.2em 0;
}

body {
  padding: 0;
}

/* Everything but the jumbotron gets side spacing for mobile first views */
.header,
.marketing,
.footer {
  padding-left: 15px;
  padding-right: 15px;
}

/* Custom page header */
.header {
  border-bottom: 1px solid #e5e5e5;
  margin-bottom: 10px;
}
/* Make the masthead heading the same height as the navigation */
.header h3 {
  margin-top: 0;
  margin-bottom: 0;
  line-height: 40px;
  padding-bottom: 19px;
}

/* Custom page footer */
.footer {
  padding-top: 19px;
  color: #777;
  border-top: 1px solid #e5e5e5;
}

.container-narrow > hr {
  margin: 30px 0;
}

/* Main marketing message and sign up button */
.jumbotron {
  text-align: center;
  border-bottom: 1px solid #e5e5e5;
}
.jumbotron .btn {
  font-size: 21px;
  padding: 14px 24px;
}

/* Supporting marketing content */
.marketing {
  margin: 40px 0;
}
.marketing p + h4 {
  margin-top: 28px;
}

/* Responsive: Portrait tablets and up */
@media screen and (min-width: 768px) {
  /* Remove the padding we set earlier */
  .header,
  .marketing,
  .footer {
    padding-left: 0;
    padding-right: 0;
  }
  /* Space out the masthead */
  .header {
    margin-bottom: 30px;
  }
  /* Remove the bottom border on the jumbotron for visual effect */
  .jumbotron {
    border-bottom: 0;
  }
}
.image-back{
  background-image: url(http://placehold.it/350x350);
  height: 500px;
  background-position: center center;
  background-repeat:  no-repeat;
  background-size:  cover;
}
.center-img{
  margin: auto;
  display: block;
}
.center-div{
  display: flex;           /* establish flex container */
  flex-direction: column;  /* make main axis vertical */
  justify-content: center; /* center items vertically, in this case */
  align-items: center;     /* center items horizontally, in this case */
}
.content > div{
  display: inline-block;
}
.center{
  text-align: center;
  margin-top: 120px;
}
.newsletter{
  margin-top: 80px;
}
.input{
  height: 50px;
  border: none;
  border-radius: 4px;
  background-color: rgba(255,255,255,0.80);
}
.input:focus{
  outline: none;
  background-color: white;
  -webkit-transition: background-color 500ms linear;
  -moz-transition: background-color 500ms linear;
  -o-transition: background-color 500ms linear;
  -ms-transition: background-color 500ms linear;
  transition: background-color 500ms linear;

}


html {
  box-sizing: border-box;
}
*, *:before, *:after {
  box-sizing: inherit;
}
.cf:before,
.cf:after {
    content:'';
    display:table;
}
.cf:after {
    clear:both;
}

.iphone6-container{
  background:url('https://s3-us-west-2.amazonaws.com/s.cdpn.io/15489/iphone6.jpg') no-repeat;
  background-size:cover;
  height:500px;
  width:238.21px;
  position:relative;
  background-size: 238.21px 500px;
}

.page-container{
  overflow:hidden;
  position:absolute;
  bottom: 62px;
  top: 77px;
  left: 16px;
  right: 15px;
  overflow-y: scroll;
}

.page-nav{
  box-shadow:0 0 10px 3px rgba(0,0,0,.35);
  position:relative;
  z-index:2;
}

.page-nav-list{
  list-style:none;
  margin:0;
  padding:0;

  & > li{
    background:#60b3c1;
    border-bottom:3px solid transparent;
    color:#ffffff;
    cursor:pointer;
    display:block;
    float:left;
    font-size:.85em;
    overflow:hidden;
    padding:1.15em 0;
    position:relative;
    text-align:center;
    text-transform:uppercase;
    width:33.33%;

    &.active{
        border-bottom:3px solid #b4d455;
    }

    span{
      z-index:1;
      position:relative;
    }
  }
}

.green-splash{
  background:#b4d455;
  box-shadow:0 0 5px 5px #b4d455;
  border-radius:50%;
  height:0;
  width:0;
  position:absolute;
  top:50%;
  left:50%;
  z-index:0;
}

.page-content-container{
  border-radius:0 0 3px 3px;
  overflow:hidden;
  position:relative;
  height:100%;
  z-index:1;
}

.page-content{
  position:absolute;
  top:0;
  left:0;
  bottom:0;
  right:0;
  z-index:1;

  &.active{
    z-index:2;
  }
  &.transition-to{
    z-index:3;
  }
}

#page-content-1{
  background:#d67d83;
}
#page-content-2{
  background:#bee1be;
}
#page-content-3{
  background:#a3ebe8;
}

md-toolbar{
  height: 40px;
  min-height: 40px;
  font-size: 20px;
}
.md-toolbar-tools > h2, .md-toolbar-tools i {
  color: white;
}
.md-toolbar-tools > h2{
  font-size: 16px;
}

.no-padding{
  padding-right: 0px;
  padding-left: 0px;
}
