<div layout="row" layout-wrap>
  <div flex="grow" class="image-back">
    <div class="center">
      <h1 class="md-display-3">Bring basketball lovers together</h1>
      <div class="newsletter">
        <p class="md-body-1 col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <input class="input md-whiteframe-4dp col-sm-4 col-sm-offset-4" type="text" placeholder="Enter your email...">
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="padding" layout="row" layout-xs="column">
  <div flex>
    <img src="http://placehold.it/250x350" class="center-img">
  </div>
  <div flex>
    <h3 class="md-headline">Why this app?</h3>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
  </div>
</div>
  <div>
      <h3 class="md-headline" style="text-align: center;">Features</h3>
    <div class="row">
        <div class="content col-md-4 col-sm-12">
          <img ng-src="http://placehold.it/150x150" />
          <div>flex 33% on mobile, <br>and 66% on gt-sm devices.</div>
        </div>
        <div class="content col-md-4 col-sm-12">
          flex 66%  on mobile, <br>and 33% on gt-sm devices.
        </div>
        <div class="content col-md-4 col-sm-12">
          flex 66%  on mobile, <br>and 33% on gt-sm devices.
        </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-7">
    <h3 class="md-headline">Why this app?</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui nulla, scelerisque tincidunt malesuada vitae, laoreet sed nisl. Ut lectus turpis, volutpat eu vulputate ac, volutpat ac nibh. Sed pretium pellentesque pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque auctor justo, eu bibendum nulla aliquet vel.
  </div>
  <div class="col-sm-5">
    <img src="http://placehold.it/350x250" class="center-img">
  </div>
</div>
</div>
