<div layout="row" layout-wrap>
  <div flex="grow" class="image-back">
    <h1 class="md-display-3">PickApp new ways to play</h1>
  </div>
</div>
<div class="padding" layout="row" layout-xs="column">
  <div flex>
    <img src="http://placehold.it/250x350" class="center-img">
  </div>
  <div flex>
    <h3 class="md-headline">Why this app?</h3>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
  </div>
</div>
<div class="padding" layout="row" layout-xs="column">
  <div>
    <h3 class="md-headline">Features</h3>
  </div>
</div>
<div class="padding" layout="row" layout-xs="column">

    <div flex-gt-sm="100" flex="33">
      flex 33% on mobile, <br>and 66% on gt-sm devices.
    </div>
    <div flex-gt-sm="100" flex="33">
      flex 66%  on mobile, <br>and 33% on gt-sm devices.
    </div>
    <div flex-gt-sm="100" flex="33">
      flex 66%  on mobile, <br>and 33% on gt-sm devices.
    </div>
</div>
