<div layout="row" layout-wrap>
  <div flex="grow" class="image-back">
    <div class="center">
      <h1 class="md-display-3">Bring basketball lovers together</h1>
      <div class="newsletter">
        <p class="md-body-1 col-md-4 col-sm-6 col-sm-offset-3 col-md-offset-4 ">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et dolore magna aliqua.</p>
        <input class="input md-whiteframe-4dp col-sm-4 col-sm-offset-4" type="text" placeholder="Enter your email...">
      </div>
    </div>
  </div>
</div>
<div class="container">
<div class="padding" layout="row" layout-xs="column">
  <div flex>
    <div class="iphone6-container center-img">
      <div class="page-container">
        <md-toolbar class="md-hue-2" style="height: 40px;">
          <div class="md-toolbar-tools">
            <h2>
              <span>PickApp</span>
            </h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="More">
              <i class="material-icons">search</i>
            </md-button>
          </div>
        </md-toolbar>
        <md-content layout-xs="column" layout="row" ng-repeat="card in cards">
        <div class="col-xs-12 no-padding">
          <md-card>
            <img ng-src="{{card.img}}" class="md-card-image" alt="Washed Out">
            <md-card-title>
              <md-card-title-text>
                <span class="md-headline">{{card.title}}</span>
              </md-card-title-text>
            </md-card-title>
            <md-card-actions layout="row" layout-align="start center">
              <md-button>Action 1</md-button>
              <md-button>Action 2</md-button>
            </md-card-actions>
            <md-card-content>
              <p>
                The titles of Washed Out's breakthrough song and the first single from Paracosm share the
                two most important words in Ernest Greene's musical language: feel it. It's a simple request, as well...
              </p>
            </md-card-content>
          </md-card>
        </div>
        </md-content>
      </div>

    </div>
  </div>
  <div flex>
    <h3 class="md-headline">Why this app?</h3>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
    <md-list-item class="noright">
      <img ng-src="http://placehold.it/40x40" class="md-avatar" />
      <p>Lorem ipsum dolor sit amet.</p>
    </md-list-item>
  </div>
</div>
  <div>
      <h3 class="md-headline" style="text-align: center;">Features</h3>
    <div class="row">
        <div class="content col-md-4 col-sm-12">
          <img ng-src="http://placehold.it/150x150" />
          <div>flex 33% on mobile, <br>and 66% on gt-sm devices.</div>
        </div>
        <div class="content col-md-4 col-sm-12">
          <img ng-src="http://placehold.it/150x150" />
          flex 66%  on mobile, <br>and 33% on gt-sm devices.
        </div>
        <div class="content col-md-4 col-sm-12">
          <img ng-src="http://placehold.it/150x150" />
          flex 66%  on mobile, <br>and 33% on gt-sm devices.
        </div>
    </div>
  </div>
<div class="row">
  <div class="col-sm-7">
    <h3 class="md-headline">Why this app?</h3>
    Lorem ipsum dolor sit amet, consectetur adipiscing elit. Donec dui nulla, scelerisque tincidunt malesuada vitae, laoreet sed nisl. Ut lectus turpis, volutpat eu vulputate ac, volutpat ac nibh. Sed pretium pellentesque pulvinar. Lorem ipsum dolor sit amet, consectetur adipiscing elit. Sed scelerisque auctor justo, eu bibendum nulla aliquet vel.
  </div>
  <div class="col-sm-5">
    <img src="http://placehold.it/350x250" class="center-img">
  </div>
</div>
</div>
